



body
{
    text-align: center;
}
#contact {
    color: #FFFFFF;
    bottom: 0;
    background: pink;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
#news {
    
    text-align: center;
}


.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}


#name
{
    background-color: aqua;
}

input
{
    background: grey;
}
{
    font-size: 30px;
}
#welcome
{
    
    background-color:hotpink;
}
h5
{
    font-size: 20;
}
img
{
    width: 300px
}
.my_nav_bar
{
    position: sticky;
    top: 0;
    z-index: 99999
}

.environment_li {
    margin-top: 13px;
}

.environment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img {
    border-radius: 25px;
}

.environment_li p {
    margin-top: 10px;
}
